nav{
    display: flex;
}

.nav-menu{
    display: flex;
    float: right;
}
.nav-menu ul{
    display: flex;
    list-style-type: none;
    
}
.nav-menu ul li{
    margin: 0% 10%;
    text-transform: uppercase;
}