img
{
    height: 150px;
    width: 150px;
}
header
{
    outline: 2rem;
    border: 5px solid purple;
    display: flex;
    
}
h1
{
    text-align: center;
    text-shadow: 2px;
    size: 30px;
}
nav
{
    display: inline;
}
footer{
    border: 2px;
}