body{
    background-color: black;
    color: white;
    text-align: justify;
}

.en-tete{
    display: flex;
    padding: 30px;
}

h1{
    border: 1px solid white;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    align-items: center;
}

.nav1 {
    text-align: center;  
}

a{
    color: white;
    text-decoration: none;
    font-size: large;
}

.texte1{
    height: 200px;
    padding: auto;
}

