
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ':Impact';
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: black;
    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.buttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 12vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    background: #000000;
}

a{    
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1b1b;
    margin: 5px;
    text-decoration: none;
}
span{
    font-family: Impact;
    font-size: large;
    color: #1ab605;
}

a:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);
}
    
h1{
    font-size: 430%; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
}


#banniere{    
    text-align: center;
    justify-content: center;
    background-color: #1ab605;
}     

#conteneur{    
    font-family: 'Bebas Neue', cursive;
    text-align: justify;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 20px;
    color: #1ab605;

   width: 1300px;
   -webkit-columns: 4 auto;
   -moz-columns: 4 auto;
   columns: 4 auto;
   -webkit-column-gap: 40px;
   -moz-column-gap: 40px;
   column-gap: 40px;
   -webkit-column-rule: 2px;
   -moz-column-rule: 2px;
   -moz-column-rule-color: #8eda84;
   -moz-column-rule-style: groove;
   -moz-column-rule-width: 2px;
}
#conteneur p{
   margin: 0;
   color: #8eda84;
}    

#conteneur2{
    margin-bottom: 20px;
}

#column1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    align-items: center;
    color: #8eda84;
    margin-left: 15px;
    width: 300px;
}

#images{
    margin: 20px;
    display: flex;
    justify-content:center;
    
    background-color: black;
    
}


