/*--------HEADER----------*/
.logo{
    margin-top: -100px;
    background-color: aqua;
}
.titre_big {
    text-align: center;
    font-size: 50px;
    color:blue;
    margin-left: 250px;
    background-color: aqua;
    font-family: 'Josefin Sans', sans-serif;
    
}
/*--------BODY----------*/
main > p{
    color: blue;
    text-align: center;
    text-decoration:  underline;
    font-style: italic;

}
.photo {
    background-size: auto;
   
    
}