
body{
    background-color: black;
}

h1{
    font-size: 400%; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
 
}


h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
}


#banniere {
    background-color: #1ab605;
}     

#conteneur {    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 20px;

   width: 1300px;
   -webkit-columns: 4 auto;
   -moz-columns: 4 auto;
   columns: 4 auto;
   -webkit-column-gap: 40px;
   -moz-column-gap: 40px;
   column-gap: 40px;
   -webkit-column-rule: 2px;
   -moz-column-rule: 2px;
   -moz-column-rule-color: #8eda84;
   -moz-column-rule-style: groove;
   -moz-column-rule-width: 2px;
}
#conteneur p {
   margin: 0;
   color: #8eda84;
}    

#conteneur2 {
    margin-bottom: 20px;
}

#column1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: #8eda84;

    width: 300px;
}
