body {
    background-color: #123759;
}

/* Header */

/* Logo */

#logo {
    margin-top: -40px;
    width: 135px;
    height: 135px;
    background-color: black;
}

/* Nav : Menu de navigation */

nav {
    text-align: center;
}
nav ul {
    padding: 0;
    display: inline-block;
    list-style: none;
}
nav li {
    display: inline-block;
}
nav li a {
    display: block;
    padding: 5px 25px;
    font-size: 15px;
    text-decoration: none;
    color: #b99124;
}

h1 {
    color: white;
    font-style: italic;
    text-align: center;
}
aside {
    text-align: center;
}
.offre {
    color: #123759;
    background-color: #b99124;
    border: none;
    border-radius: 15%;
}

.etoiles {
    color: #b99124;
}

.slider {
    width: 500px;
    overflow: hidden;
    margin: 150px auto;
}
.slides {
    width: calc(500px * 6);
    animation: glisse 15s infinite;
}

.slide {
    float: left;
}
img {
    width: 500px;
    height: 500px;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-500px);
    }
    50% {
        transform: translateX(-1000px);
    }
    75% {
        transform: translateX(-1500px);
    }
    100% {
        transform: translateX(0);
    }
}

.offrePromo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.offrePromo h2 {
    text-align: center;
    margin: 15px;
    padding: 5px;
    color: #b99124;
    background-color: beige;
    height: 250px;
}

.presentation {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #b99124;
    background-color: beige;
    height: 250px;
}

.lieu h3 {
    text-align: center;
    color: #b99124;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.reseau {
    display: grid;
    grid-template-columns: 0fr 1fr;
}
